span {
    font-family: Verdana;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 100px;
    color: white;
}
button {
    /*left: 0;*/
        margin-top: -100px;
        position: absolute;
      text-align: center;
      margin-left: 50%;
      margin-right: 50%;
        top: 75%;
        background-color: #0080ff;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    body {
        background-color: #333
    }
